@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Socium</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    @Styles.Render("~/Content/css")

    <!-- Theme CSS -->
    @Scripts.Render("~/bundles/modernizr")
    <style>
        header {
            background-image: url('https://www.symplur.com/public/symplur-signals-centrality-graph.jpg');
        }
    </style>
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Socium</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @Html.Partial("_HomeNavbarPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Добре дошли в SOCIUM!</div>
                
                @if (Request.IsAuthenticated)
                {
                      @Html.ActionLink("Профил", "Index", "User", routeValues: new { area = "Profile" }, htmlAttributes: new { @class = "page-scroll btn btn-xl" })
                }
                else
                {
                    <div style="height:10px;"></div>
                    @Html.ActionLink("Вход", "Login", "Account", routeValues: new { area = "Profile" }, htmlAttributes: new { @class = "page-scroll btn btn-xl", id = "loginLink" })
                    <div style="height:10px;"></div>
                    @Html.ActionLink("Регистрация", "Register", "Account", routeValues: new { area = "Profile" }, htmlAttributes: new { @class = "page-scroll btn btn-xl", id = "registerLink" })
                    <div style="height:10px;"></div>
                }
                <a href="#services" class="page-scroll btn btn-xl">Представяне</a>
            </div>
        </div>
    </header>
    <div class="container body-content">
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Възможности</h2>
                        <h3 class="section-subheading text-muted">Настоящият сайт предлага следните алтернативи:</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <h4 class="service-heading">Търсач</h4>
                        <p class="text-muted">Потребителят задава конкретен въпрос, на който отговаря socium-ботът.</p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="service-heading">Изследовател</h4>
                        <p class="text-muted">Потребителят има право да направи свое собствено проучване.</p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="service-heading">Електорат</h4>
                        <p class="text-muted">Потребителят може да гласува в анкети, изготвени от други автори.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid Section -->
        <section id="portfolio" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Socium-бот</h2>
                        <h3 class="section-subheading text-muted">Здравей! Ако има отговор на твоя въпрос, ще ти го покажа, а ако няма ще те помоля, за да ме улесниш, да го зададеш сам чрез анкета. Аз винаги съм готов за нови знания!</h3>
                    </div>
                </div>
                <div class="row">
                    @Html.Partial("_ChatPartial")
                </div>
            </div>
        </section>
        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Фактология</h2>
                        <h3 class="section-subheading text-muted">Кратка история на референдумите в България.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" style="width:100%;height:100%;" src="https://cache2.24chasa.bg/Images/Cache/048/Image_1838048_126.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>1922</h4>
                                        <h4 class="subheading">Първият референдум в България</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Референдумът за съдене на виновниците за националните катастрофи се провежда в България на 19 ноември 1922. Той е одобрен от 74.33% от избирателите.
                                        Управляващите от БЗНС искат да бъдат дадени под съд членовете на кабинетите на правителствата, водени от Иван Евстратиев Гешов, Стоян Данев и Александър Малинов.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" style="width:100%;height:100%;" src="http://www.dsbvarna.com/wp-content/uploads/2013/02/images1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2013</h4>
                                        <h4 class="subheading">"Ядрен" референдум</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Той се провежда в България на 27 януари 2013 г. Гражданите на Република България гласуват с „Да“ или „Не“ в отговор на следния въпрос: Да се развива ли ядрената енергетика в Република България чрез изграждане на нова ядрена електроцентрала?</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" style="width:100%;height:100%;" src="http://bnt.bg/newImages/izbori/rg.png" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2015</h4>
                                        <h4 class="subheading">Референдум за дистанционното гласуване в България</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Националният референдум се провежда на 25 октомври 2015 г., едновременно с поредните избори за местна власт. Референдумът е назначен от президента на България Росен Плевнелиев.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" style="width:100%;height:100%;" src="http://www.dnesbg.com/wp-content/uploads/bfi_thumb/7_izbori-2-mfsnlgm2kphypjs5p743r6troifopli6t58ow3x38e.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2016</h4>
                                        <h4 class="subheading">Референдум за промяна на политическата система</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Националният референдум за промяна на политическата система в България е иницииран от Инициативен комитет, с председател Слави Трифонов. Провежда се на 6 ноември 2016 г., едновременно с изборите за президент и вицепрезидент на Република България.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>
                                        Създай
                                        <br>твоят
                                        <br>референдум!
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Section -->
        <section id="team" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Автор</h2>
                        <h3 class="section-subheading text-muted">Ученик в 9.клас в СМГ "Паисий Хилендарски".</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="http://dberbatov.org/articles/image/id/772/height/187/width/187" class="img-responsive img-circle" alt="">
                            <h4>Давид Мавродиев</h4>
                            <p class="text-muted">Lead Developer</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://github.com/David-Mavrodiev"><i class="fa fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large text-muted">Проектът е изготвен за обучителен курс "ASP.NET MVC" на "Софтуерната академия на Телерик", 7 сезон, випуск 2016/2017.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Обратна връзка</h2>
                        <h3 class="section-subheading text-muted">Питания към администраторите, при технически проблем.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Име *" id="name" required data-validation-required-message="Моля, въведете име.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Имейл *" id="email" required data-validation-required-message="Моля, въведете имейл.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Телефонен номер *" id="phone" required data-validation-required-message="Моля, въведете телефонен номер.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Съобщение *" id="message" required data-validation-required-message="Моля, въведете съобщение."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl">Изпрати</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; made by David Mavrodiev</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://github.com/David-Mavrodiev/Socium"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    @Scripts.Render("~/bundles/Theme")
    <script>
        $.connection.hub.start();
            var chat = $.connection.chat;
            chat.client.addMessage = function (msg) {
                renderMessage(msg);
            };

            var Message;
            Message = function (arg) {
                this.text = arg.text, this.message_side = arg.message_side;
                this.draw = function (_this) {
                    return function () {
                        var $message;
                        $message = $($('.message_template').clone().html());
                        $message.addClass(_this.message_side).find('.text').html(_this.text);
                        $('.messages').append($message);
                        return setTimeout(function () {
                            return $message.addClass('appeared');
                        }, 0);
                    };
                }(this);
                return this;
            };
            var getMessageText, message_side, sendMessage;
            message_side = 'right';
            getMessageText = function () {
                var $message_input;
                $message_input = $('.message_input');
                return $message_input.val();
            };
            renderMessage = function (text) {
                var $messages, message;
                if (text.trim() === '') {
                    return;
                }
                $('.message_input').val('');
                $messages = $('.messages');
                message_side = message_side === 'left' ? 'right' : 'left';
                message = new Message({
                    text: text,
                    message_side: message_side
                });
                message.draw();
                return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
            };

            sendMessage = function (text) {
                renderMessage(text);
                chat.server.sendMessage(text);
            }

            $('.send_message').click(function (e) {
                return sendMessage(getMessageText());
            });
            $('.message_input').keyup(function (e) {
                if (e.which === 13) {
                    return sendMessage(getMessageText());
                }
            });
    </script>
</body>
</html>
