@{
    Layout = "../Shared/_AdminPartial.cshtml";
}
@model PagedList.IPagedList<SociumApp.Models.Question>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Администратор</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile/user"><i class="fa fa-fw fa-user"></i> Профил</a>
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-fw fa-gear"></i> Начало</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="index"><i class="fa fa-fw fa-info-circle"></i> Начало</a>
                </li>
                <li>
                    <a href="/admin/administrator/usersstatistic"><i class="fa fa-fw fa-user"></i> Потребители</a>
                </li>
                <li class="active">
                    <a href="/admin/administrator/questionsstatistic"><i class="fa fa-fw fa-question"></i> Въпроси</a>
                </li>
                <li>
                    <a href="/admin/administrator/optionsstatistic"><i class="fa fa-fw fa-comments"></i> Отговори</a>
                </li>
                <li>
                    <a href="/admin/administrator/votesstatistic"><i class="fa fa-thumbs-up"></i> Гласувания</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Въпроси
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-info-circle"></i>  <a href="index">Начало</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-fw fa-question"></i> Въпроси
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <span>Сортирай по: </span>
            <div class="btn-group">
                <button type="button" class="btn btn-info filter-item">Текст</button>
                <button type="button" class="btn btn-info filter-item">Автор</button>
                <button type="button" class="btn btn-info filter-item">Брой отговори</button>
            </div>
            @section Scripts {
                <script>
                    $(".filter-item").on("click", (event) => {
                        let text = $(event.target).text();
                        let code = 0;

                        if (text == "Текст") {
                            code = 0;
                        }

                        if (text == "Автор") {
                            code = 1;
                        }

                        if (text == "Брой отговори") {
                            code = 2;
                        }
                        var url = window.location.href;
                        url = removeURLParameter(url, "sortingCode")
                        if (url.indexOf('?') > -1) {
                            url += '&sortingCode=' + code
                        } else {
                            url += '?sortingCode=' + code
                        }

                        function removeURLParameter(url, parameter) {
                            //prefer to use l.search if you have a location/link object
                            var urlparts = url.split('?');
                            if (urlparts.length >= 2) {

                                var prefix = encodeURIComponent(parameter) + '=';
                                var pars = urlparts[1].split(/[&;]/g);

                                //reverse iteration as may be destructive
                                for (var i = pars.length; i-- > 0;) {
                                    //idiom for string.startsWith
                                    if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                                        pars.splice(i, 1);
                                    }
                                }

                                url = urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : "");
                                return url;
                            } else {
                                return url;
                            }
                        }

                        window.location.href = url;
                    });
                </script>
            }
            <!-- Flot Charts -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Текст</th>
                                <th>Автор</th>
                                <th>Брой отговори</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Owner.UserName</td>
                                    <td>@item.Options.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) от @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("QuestionsStatistic", new { page, sortingCode = Request["sortingCode"] }))
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
