@{
    Layout = "../Shared/_NoHeaderLayout.cshtml";
}

@model SociumApp.Models.QuestionViewModel

<div id="Detailed">
    <h1 style="text-align:center">@Model.Title</h1>
    <hr />
    <h2 style="text-align:center" id="message-vote" class="alert-info"></h2>
    <div class="container">
        <div class="col-md-7 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Отговори
                    </h3>
                </div>
                <div id="optionsDiv" name="@Model.Options.Count" class="panel-body two-col">
                    @foreach (var item in Model.Options)
                    {
                        <div class="col-md-6">
                            <div class="well well-sm">
                                <div class="checkbox">
                                    <label id="cb-wrapper">
                                        <input name="optionGroup" item-id="@item.Id" type="radio" value="">
                                        @item.Description
                                        <span class="badge">@item.VotesCount</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="panel-footer">
                    <button id="vote" type="button" class="btn btn-success btn-sm">
                        Гласувай
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>Нов отговор</h2>
    <hr />
    <label for="desc">Съдържание</label>
    <input name="desc" type="text" id="optionDesc" class="form-control" style="margin-bottom:20px;" />
    <input type="button" id="addOptionButton" value="Добави" class="btn-block btn-lg btn-success" />
</div>
@section Scripts {
    @Scripts.Render("~/bundles/QuestionAllLogic");
}